*{
    margin:0;
    padding:0;
    
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background:#f7f7f7;
    padding-top:20px;
}

.card-topo {

    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
      margin:0 auto 10px;


}

.card-topo > h1{
    font-size:30px;
    color:#111;
    margin-right: 15%;
}

.total {
    font-size: 20px;
    
}

.total .value{
    color:#16b336;
    font-size:20px;
    font-weight:bold;
}

.btn {

    margin-right:5% ;
}
.btn {

    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
}

.btn i {

    font-weight: bolder;
    font-size: 20px;
}


 .btn-add { 
   width: 30px;
   height: 30px; 
    border-radius: 50%; 
    border: none; 
    background-color:#16b336; 
    
    color: #fff; 
    font-size: 30px; 
    cursor: pointer; 
    display: flex; 
   
    justify-content: center; 
      align-items: center;
    
   

    
}

.months {

    margin-top: 5%;
    margin-bottom: 25%;

}

.container {

  
    margin: auto;
    padding-bottom: 25%;
}


 .card-mes { 
   
    
    width:100%;
    
    border-radius:28px; 
      
    margin-bottom:15px;
    display:flex; 
   
    justify-content: center;
     align-items:center; 

     border:2px solid #ececec;
    border-radius:24px;
    
} 

.months a {
text-decoration: none;
     display:flex; 
    align-items:center; 
    justify-content:space-around ;
     
      width:100%;

}


.esquerda { 

    width: 150px;
    display: flex; 
    justify-content: start;
    align-items: center;
    margin-left: 5%;
    
     
     
    } 
    





.info {
    

    margin-top: 10%;
    
}

.esquerda > .info > h2 { 
    color:#6d6d6d; 
    font-size:15px; 
} 

.info p { 
    color:#6d6d6d; 
    font-size:18px; 
} 

.direita { 

    display: flex;
    justify-content: center;

} 

.direita span { 
    color:#777; 
    font-size:18px; 
} 

.direita > .valor { 
    color:#16b336; 
    
    font-size:18px; 
width: 150px;
    font-weight:700;
    margin-left: 25%;
     
  
} 

.seta { 
    
    margin-left:20px; 
    color:#777; 
    font-size:24px; 
}

.menu {
    

      position:fixed;
    bottom:0;
    left:0;
    width:100%;
   

    background:#fff;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
     display:flex;
    justify-content:space-around;

    
}

.item-menu{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:8px;

    color:#777;
    font-size:18px;
}

.item-menu i{
    font-size:30px;
}

.ativo{
    color:#16b336;
}